/* section1.css */
#section1 {
    background: #0A0A0A; /* Nero */
    color: #FFFFFF; /* Bianco */
    height: 100vh; /* Assicura che la sezione occupi l'intera finestra di visualizzazione */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
